{{ partial "head.html" . }}
<body>
{{ partial "navigation.html" . }}
{{ partial "profile.html" . }}

<section id="wrapper" class="projects">
    {{ .Content }}

    {{ range .Site.Data.projects }}
      <h4>{{ .company }}:</h4>
        <div class="grid">
          {{ range .projects }}
            {{ if .show }}
              <a class="cell" href="{{ .link }}">
                  <img class="responsive-image" src="{{ .image }}" />
                  <h5>{{ .name }}</h5>
                  <p>{{ .description }}</p>
              </a>
            {{end}}
          {{ end }}
        </div>
        <hr>
    {{ end }}

    {{ partial "footer.html" . }}
</section>

{{ partial "js.html" . }}
</body>
