{{ partial "head.html" . }}
<body>
{{ partial "nav.html" . }}
{{ partial "profile.html" . }}

<section id="wrapper" class="projects">
    {{ .Content }}

    {{ range .Site.Data.projects }}
      <h4>{{ .company }}:</h4>
        <div class="grid">
          {{ range .projects }}
          <div class="cell">
            <a href="{{ .link }}">
              <img class="responsive-image" src="{{ .image }}" />
            </a>
          </div>
          {{ end }}
        </div>
        <hr>
    {{ end }}

    {{ partial "footer.html" . }}
</section>

{{ partial "js.html" . }}
</body>
